.main-page-div {
  display: flex;
  height: 820px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../cards/assets/backgroundsAndTitles/background-start.png");
  background-size: cover;
}
